
* {  /*font-family:'Courier New', Courier, monospace;*/
    padding: 5px;
    margin: 10px;
    font-size: large 15px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2  {
    font-size: 1.6em;
    color: rgb(165, 25, 25);
    background-color: darkslateblue;
    border-radius: 3px;
    border: 1px solid #303030;
    padding: 5px;

}

h1{
    text-align: center;
}


.p{
    color:rgb(246, 81, 81);
    font-style: italic;
    font-size: 330%;

}

@media{
}






<img src="avena.jpg" style="float:left"; padding-rigth:10px; width="100" height="50" alt="Galletitas de avena"/> 
texto




element class.footer{
    background-color: #eff;
    box-shadow: 0 2px 4px rgb(91 91 91 / 70%);
   
    
}

#imagenes{
        width:100px;
        background-position: 10px;
        border-color: blueviolet;
      

}