h1{
    text-align: center;
}


.p{
    color:rgb(246, 81, 81);
    font-style: italic;
    font-size: 130%;

}



element class.footer{
    background-color: #eff;
    box-shadow: 0 2px 4px rgb(91 91 91 / 70%);
   
    
}

